*,
*::after,
*::before{
  box-sizing: border-box;
}
p{
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
nav{
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 246, 246);
  padding: 0 40px;
  box-shadow: 2px 2px 12px ;

}
main{
  padding: 70px 150px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
}
.info{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info a{
  text-decoration: none;
}
nav ul{
  display: flex;
  justify-content: space-around;
  min-width: 40rem;
}
nav a {
  text-decoration: none;
  color: rgb(30, 70, 70);
}
li{
  list-style: none;
  font-size: larger;
  font-weight: 700;

}
nav img{
  max-width: 8rem;
}
.btn{
  margin: 0;
  padding: 15px 15px;
  background-color: rgb(83, 52, 246);
  color: white;
  border-radius: 9px;
}
.btn:hover{
  background-color: rgb(246, 246, 246);
  color: rgb(30, 70, 70);
  outline-offset: 1px;
  outline-width: 1px;
  outline: solid;
  
}
button:hover{
  background-color: rgb(246, 246, 246);
  color: rgb(30, 70, 70);
  border: none;
  outline-offset: 1px;
  outline-width: 1px;
  outline: solid;
  
}

.image img{
  max-width: 600px;
}
.quote p{
  max-width: 400px;
  font-weight: 500;
  margin-bottom: 20px;
}
.join{
  font-size: small;
  font-weight: 700;

}
.quiz{
  font-size: xxx-large;
  font-weight: 900;
  color: rgb(30, 70, 70);
}
span{
  color: rgb(71, 104, 5);
}
section{
  background-color: rgb(236, 236, 236);
  display: flex;
  padding-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: x-large;
}
footer{
  background-color: rgb(30, 70, 70);
  height: 160px;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
footer a{
  text-decoration: none;
  color: rgb(236, 236, 236);
}
.foot-links{
  display: flex;
  width: 250px;
  justify-content: space-between;
}
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  border-radius:30px;
  margin-left: -150px;
  height: 300px;
  top: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}
.p1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  align-items: center;
}
.p1 a{
  text-decoration: none;
}
.user-input{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 300px;
  justify-content: space-between;
}
.name-user{
  display: flex;
  flex-direction: column; 
  overflow: auto;
  gap: 10px;
}
#popup2:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup2:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}
#score:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#score:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}
input{
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid blueviolet;
  padding: 10px;
  color:black;
}
.btn1{
  margin: 0;
  display: flex;
  padding: 7px 7px;
  background-color: rgb(83, 52, 246);
  color: white;
  border-radius: 9px;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.btn1:hover{
  background-color: rgb(246, 246, 246);
  color: rgb(30, 70, 70);
  outline-offset: 1px;
  outline-width: 1px;
  outline: solid;
}
.score{
  background-color: rgb(236, 236, 236);
  display: flex;
  padding-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  justify-content: center;
  align-items: center;
  color: blue;
  font-size: x-large;
}
.score a{
  text-decoration: none;
}
#boardscore{
  overflow: auto;
  margin-bottom: 15px;
}
.git a:hover{
  color: blueviolet;

}